[alias]
	amend = commit --amend
	br = branch
	ci = commit
	cm = "!f() { ISSUE="$(git symbolic-ref HEAD | grep --color=never -Po '(?<=/)\\w+-\\d+(?=-)')"; git commit -m \"${ISSUE:+${ISSUE} }${@}\"; }; f"
	co = checkout
	coff = !git checkout $1 && git merge --ff-only @{u}
	cp = cherry-pick
	dc = diff --cached
	d = diff
	deco = log --decorate --graph --format=fuller --all --simplify-by-decoration
	fa = fetch --all
	f = fetch
	ff = merge --ff-only
	fix = commit --fixup
	getignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	ignored = !git ls-files -v | grep \"^[[:lower:]]\"
	ignore = update-index --assume-unchanged
	la = log --decorate --graph --format=fuller --all
	lapu = log --decorate --graph --format=fuller --all --not --remotes
	last = log --decorate --graph --format=fuller --all --name-status
	l = log --decorate --graph --format=fuller
	lm = log --decorate --graph --format=fuller --date-order --first-parent
	lst = log --decorate --graph --format=fuller --name-status
	patch = format-patch -1 --stdout
	rbdev = !git checkout develop && git merge --ff-only @{u} && git checkout - && git rebase develop
    rbi = rebase -i
	rh = reset --hard
	rmi = "!f() { git ls-files --others --exclude-standard $@ | xargs --interactive --replace={} rm {}; }; f"
	st = status
	unignore = update-index --no-assume-unchanged
[color]
	ui = always
[core]
	autocrlf = input
	editor = vim
	pager = less -r
[i18n]
	commitencoding = utf8
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld \"$LOCAL\" \"$MERGED\" \"$REMOTE\" --output \"$MERGED\"
[push]
	default = current
[rebase]
	autosquash = true
[user]
	name = sberlin
	email = sberlin@users.noreply.github.com
